/* Still playing with this stuff */
.title-area-2 {background-color: #d9554c; background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 76%, transparent 77%, transparent); background-size: 3rem 3rem; border-top: 1px solid #1b0912; border-bottom: 1px solid #983b35;}
.title-area-content-2 {padding-top: 0.5rem; padding-bottom: 1rem;}
.title-area-2 .portfolio-header {color: #fff; text-shadow: 2px 1px 0px #983b35; display: inline-block; background: #d9554c; border: 5px solid #c34d44; padding: 0.5rem 1rem;}

/* Retired */
.main-area a, .footer a {transition: all 0.2s ease-in-out; color: #222; background: linear-gradient(to bottom, transparent 0, transparent 83%, #f4ccc9 83%, #f4ccc9 99%, #d9554c 99%, #d9554c 100%); text-decoration: none;}
.main-area ul ul {margin-top: 1.2rem; margin-bottom: 2rem; list-style-type: disc;}
.main-area ul li, .main-area ol li {margin-bottom: 0.8rem; padding-left: 0;}
.main-area figure {margin: 0;}
.main-area figcaption {text-align: center; font-family: 'Montserrat', sans-serif; font-size: 1.4rem; font-weight: bold; margin-top: 0rem;}
.main-area aside {position: relative; border-radius: 0.2rem; border: 3px solid #402125; width: 22rem; margin: 0.8rem 3rem 1.5rem 0; float: left;}
.main-area .photo-credit {color: #fff; font-size: 1rem; position: absolute; bottom: 0; margin: 0; background: rgba(34,11,23,0.25); padding: 0.5rem; padding-bottom: 0.4rem; width: 100%;}
.main-area aside a {background: none; color: #fff; transition: none;}
.main-area aside a:hover {color: #fff; animation: none; text-decoration: underline; border: none;}

.signature a {background: #220b17; color: #d7d5d5; text-decoration: none; display: block; padding: 0.9rem 0; transition: all 0.2s ease-in-out; box-shadow: 0 -1.8rem #1b0912 inset; border-bottom: 1px solid #000;}

.main-area .fw-image {width: 100%; margin-top: 0; float: none;}
