/* General */
*, *:before, *:after {box-sizing: border-box;}
html {font-size: 62.5%; line-height: 1.4; font-family: 'Neuton', serif; font-weight: normal; height: 100%; background: #220b17;}
body {min-height: 100%; display: flex; flex-direction: column; background: #fff;}
img {max-width: 100%;}
h1, h2, h3, h4, button, .signature, .intro, .footer, .button, .button-light, .tags, .caption, .use-sans {font-family: 'Montserrat', sans-serif; font-weight: normal;}
.full-width {width: 100%;}
.constrain {max-width: 75rem; margin: auto; padding-left: 2.5rem; padding-right: 2.5rem;}
.heavy {font-weight: bold;}
.signature {font-size: 1.4rem; text-transform: uppercase; text-align: right; letter-spacing: 1px;}
.signature a {background: #220b17; color: #d7d5d5; text-decoration: none; display: block; padding: 1rem 0 0.9rem; transition: all 0.2s ease-in-out; box-shadow: 0 -1.9rem #220b17 inset; border-bottom: 1px solid #000;}
.signature a:hover {background: #7f2a4d; color: #fff; box-shadow: 0 -1.9rem #722645 inset; border-bottom: 1px solid #1b0912;}
.signature .my-name {display: block;}
.sig-letter {display: inline-block; position: relative; bottom: 0; transition: background 0.2s ease-in-out, transform 0.08s ease-in, bottom 0.08s ease-in; border-radius: 1px;}
.signature a:hover .sig-letter {background: #722645;}
.signature a:hover .sig-letter:nth-child(4n+1) {transform: rotate(-10deg);}
.signature a:hover .sig-letter:nth-child(4n+2) {bottom: 0.2rem;}
.signature a:hover .sig-letter:nth-child(4n+3) {transform: rotate(10deg);}
.signature a:hover .sig-letter:nth-child(4n+4) {bottom: -0.2rem;}
.intro {background-image: url(../images/droplets.jpg); background-position: 50% 0%;}
.intro-wrapper {background: rgba(64,33,37,0.93); color: #fff; box-shadow: 0 0.7rem #d9554c;}
.intro-content {padding-top: 2rem; padding-bottom: 2rem; }
.intro h1 {font-size: 6.4rem; line-height: 1.1; font-weight: bold; text-shadow: .4rem .4rem #220b17; position: relative; left: 0; margin: 0; margin-left: -0.3rem;}
.intro nav {margin-top: 1.2rem; margin-left: -1.1rem;}
.intro nav a {color: #d7d5d5; margin-right: 1.5rem; font-size: 1.4rem; text-decoration: none; border-radius: 20px; padding: 0.6rem 1.2rem; display: inline-block;}
.intro nav a:hover {background: #53373b; color: #fff;}
.intro nav a:active {transition: none; bottom: 0; right: 0; box-shadow: inset 2px 2px 8px #1b0912, 0px 1px #422c2f; background: #422c2f; color: #d7d5d5;}
.main-area-content {padding-top: 4rem; padding-bottom: 2rem; font-size: 2.2rem;}
.main-area .content-section {margin-bottom: 4rem;}
.main-area a {color: #222; background: linear-gradient(to bottom, transparent 0, transparent 83%, #f4ccc9 83%, #f4ccc9 100%); text-decoration: none;}
.main-area a:hover {color: #c34d44;}
.main-area p, .main-area ul, .main-area ol {margin-top: 0; margin-bottom: 1.4rem;}
.main-area ul ul {padding-left: 3rem; margin-bottom: 0; margin-top: 0.5rem;}
.main-area ul li, .main-area ol li {margin-bottom: 0.5rem; padding-left: 0;}
.main-area h2 {font-weight: bold; text-transform: uppercase; font-size: 2rem; letter-spacing: 1px; margin-top: 2rem; margin-bottom: 1.4rem;}
.main-area h3 {margin: 0; font-weight: bold; margin-bottom: 1.4rem; font-size: 2rem; color: #7f2a4d;}
.main-area h4 {font-size: 1.8rem; margin-bottom: 1.4rem;}
.main-area hr {margin: -0.8rem 0 5rem 0; border: none; background: #cf4d6f; height: 5px; max-width: 5rem;}
.main-area .sub-header {margin-top: 0;}
.main-area .much-text {padding-top: 1.5rem;}
.main-area .feature-text {font-size: 2.8rem;}
.main-area .portrait {position: relative; border-radius: 0.2rem; border: 3px solid #402125; width: 22rem; height: 22rem; margin: 0.8rem 3rem 1.5rem 0; float: left;}
.main-area .portrait img {display: block;}
.main-area .image-group {width: 90%; margin: 5rem auto 6rem;}
.main-area .image-border {border: 1px solid #ccc;}
.main-area .caption {font-size: 1.3rem; text-align: center; margin-top: 0.3rem; margin-bottom: 4rem;}
.main-area .button {display: inline-block; border: 1px solid #c34d44; border-bottom: none; position: relative; text-decoration: none; padding: 1rem 2rem; background: #d9554c; color: #fff; box-shadow: 0 4px #983b35; font-size: 1.6rem; border-radius: 4px; text-shadow: 1px 1px 0 #983b35; margin-right: 1rem;}
.main-area .button:hover {background: #d9554c; color: #fff; border-color: #c34d44; box-shadow: 0 4px #983b35, 0 7px 10px -5px #422c2f;}
.main-area .button:active {background: linear-gradient(to bottom right, #c34d44, #d9554c); top: 4px; box-shadow: none;}
.main-area .button-fat-guy {font-size: 2rem; padding: 2rem 4rem; margin: 1.5rem auto;}
.main-area .button-fw {width: 100%; text-align: center;}
.main-area .button-arrow {padding-left: 1rem;}
.main-area .button-light {font-size: 1.6rem;}
.main-area .much-text h2, .main-area .much-text h3 {margin-top: 3rem;}
.main-area .lil-snug-guy {margin-top: -1rem;}
.main-area .question {margin-right: 0.5rem;}

/* Footer */
.footer {background: #220b17; border-top: 1px solid #000; margin-top: auto;}
.footer a {text-decoration: none; color: #d7d5d5; background: linear-gradient(to bottom, transparent 0, transparent 83%, #d9554c 83%, #d9554c 100%);}
.footer a:hover {color: #fff;}
.footer-content {padding-top: 3.5rem; padding-bottom: 3rem; text-align: center; font-size: 1.4rem; color: #d7d5d5;}
.footer-divider {font-size: 2rem; display: inline-block; animation: spin 30s linear infinite;}
.footer-divider .fa-globe {color: #146da9;}
.footer-divider .fa-circle {color: #75bd59;}
.footer-divider .fa-circle-2 {color: #0c4165; font-size: 105%;}
.footer .load-time {min-height: 2rem;}

/* Skills */
.main-area .icon-set-wrapper {background: #d7d5d5; width: 100vw; position: relative; left: 50%; right: 50%; margin: 4.5rem -50vw; padding: 6rem 0 5rem; background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.05) 76%, transparent 77%, transparent); background-size: 3rem 3rem; border-top: 2px solid #53373b; border-bottom: 2px solid #53373b;}
.main-area .icon {text-align: center;}
.main-area .icon img {max-width: 8rem;}
.main-area .icon h3 {font-weight: normal; color: #222; margin-top: 1.2rem; letter-spacing: 1px; text-transform: uppercase; font-size: 1.6rem;}

/* Contact */
.main-area .contact-info {margin-left: 4.5rem;}
.main-area .contact-info li {margin-bottom: 1.2rem;}
.main-area .contact-info i {margin-top: 0.3rem; color: #d9554c;}

/* Columns */
.multi-layout, .multi-layout-2 {display: flex;}
.multi-layout .col {width: 50%;}
.multi-layout .col-1 {padding-right: 1.5rem;}
.multi-layout .col-2 {padding-left: 1.5rem;}
.multi-layout-2 .col {width: 33.333%;}
.multi-layout-2 .col-1 {padding-right: 1.5rem;}
.multi-layout-2 .col-2 {padding-right: 1.5rem; padding-left: 1.5rem;}
.multi-layout-2 .col-3 {padding-left: 1.5rem;}

/* Projects */
.project {margin: 3rem auto 8rem;}
.project-last {margin-bottom: 0;}
.project .project-header {font-size: 2.2rem;}
.project .project-brief {margin-bottom: 2.5rem; font-size: 2rem;}
.title-area {background-color: #d9554c; background-size: cover; background-position: 50%;}
.title-area-1 {background-image: url(../images/banner-txst-homepage.png);}
.title-area-2 {background-image: url(../images/banner-txst-template.png);}
.title-area-3 {background-image: url(../images/banner-txst-brand.png);}
.title-area-4 {background-image: url(../images/banner-pcf-website.png);}
.title-area-wrapper {background-color: rgba(217,85,76,0.75);}
.title-area-content {padding-top: 3.5rem; padding-bottom: 3.5rem;}
.title-area .portfolio-header {font-size: 2.6rem; margin: 0; color: #fff; text-shadow: 2px 2px 0px #983b35; font-weight: bold; text-transform: uppercase; letter-spacing: 1px;}
.main-area .tags {margin-top: -2rem; margin-bottom: -2rem;}
.main-area .tags.kill-margin, .main-area .tags.kill-margin ul {margin: 0;}
.main-area .tags ul {padding: 0; list-style-type: none;}
.main-area .tags li {display: inline-block; font-size: 1.3rem; border: 3px solid #f4ccc9; color: #c34d44; padding: 0.4rem 0.75rem; margin-right: 0.2rem; border-radius: 3px;}
.main-area .project-details {margin-bottom: 4rem;}
.main-area .portfolio-options {text-align: center;}

/* Accordion */
.main-area .toc {padding-top: 0.8rem;}
.main-area .accordion {font-weight: bold; font-size: 1.6rem; color: #7f2a4d; border: 1px solid #d7d5d5; padding: 1.5rem 2rem; background: #eee; outline: none; cursor: pointer; letter-spacing: 1px; text-transform: uppercase;}
.main-area .accordion span:after {margin-left: 1rem; content: '\002B';}
.main-area .accordion.active span:after {content: "\2212";}
.main-area .panel {margin-top: 1.2rem; max-height: 0; overflow: hidden; transition: all 0.2s ease-in-out; opacity: 0;}
.main-area .panel-show {opacity: 1;}

/* Modal */
.main-area .image-modal {cursor: zoom-in;}
.featherlight .featherlight-close-icon {line-height: 28px; width: 28px; color: #222; font-size: 2rem; outline: none; background: rgba(255,255,255,0.8);}
.featherlight, .featherlight .featherlight-content {cursor: zoom-out;}
.featherlight .featherlight-content {border-bottom: none; padding: 0;}
.featherlight .featherlight-image {padding: 1rem;}

/* Animations */
@keyframes spin {
	from {transform: rotate(0deg);}
	to   {transform: rotate(360deg);}
}

/* Style Guide */
.sg-section {margin: 3rem auto 5rem;}
.sg-component {padding-bottom: 1rem; margin-left: 2rem;}
.sg-component.no-indent {margin-left: 0;}
.sg-component * {margin: 0 !important;}
.sg-rows {margin-top: 3rem;}
.sg-color div {height: 8rem;}
.sg-color p {font-size: 1.4rem; padding-top: 0.5rem;}
.main-area .sg-header {border-bottom: 1px solid #d7d5d5; padding-bottom: 0.5rem;}

/* Responsive enhancements */
@media (min-width: 80em) {
	html {font-size: 68.5%;}
	.constrain {max-width: 80rem;}
}

@media (max-width: 35.5em) {
	html {font-size: 58.5%;}
	.signature {font-size: 1.3rem; text-align: left;}
	.signature a {padding-top: 1.1rem;}
	.intro-wrapper {background: rgba(64,33,37,1);}
	.intro h1 {font-size: 4.8rem;}
	.intro nav {margin-left: -0.8rem;}
	.intro nav a {margin-right: 0.5rem; padding: 0.4rem 0.8rem; font-size: 1.5rem;}
	.main-area-content {padding-top: 2.8rem;}
	.main-area ul, .main-area ol {padding-left: 3.5rem;}
	.main-area .contact-info {margin-left: 1rem;}
	.main-area .portrait {float: none; width: 100vw; height: 100%; left: 50%; right: 50%; margin: -0.9rem -50vw 2rem; border-width: 0 0 3px 0; border-radius: 0;}
	.main-area .tags {margin-top: -1rem;}
	.main-area .image-group {width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw;}
	.main-area .image-border {border-width: 1px 0;}
	.main-area .caption {padding: 0 2.5rem;}
	.main-area .project-brief {font-size: 2.2rem;}
	.multi-layout, .multi-layout-2 {display: block;}
	.multi-layout .col, .multi-layout-2 .col {width: 100%;}
	.multi-layout .col-1 {padding: 0; margin-bottom: 2rem;}
	.multi-layout .col-2 {padding: 0;}
	.multi-layout-2 .col-1, .multi-layout-2 .col-2 {padding: 0; margin-bottom: 6rem;}
	.multi-layout-2 .stack {margin-bottom: 0;}
	.multi-layout-2 .col-3 {padding: 0;}
	.footer-content {padding-bottom: 4.5rem;}
	.footer .view-github {display: block; margin-top: 0.5rem;}
	.footer-divider {margin-left: 0.8rem;}
	.footer .fa-stack {width: 2.5rem;}
}

@media (max-width: 20em) {
	html {font-size: 48.5%;}
}