<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=kPxym2MxM2">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=kPxym2MxM2">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=kPxym2MxM2">
<link rel="manifest" href="/site.webmanifest?v=kPxym2MxM2">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=kPxym2MxM2" color="#d9554c">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="theme-color" content="#d9554c">
