<meta property="og:image" content="https://michaeledelstone.com/images/og-image.jpg">
<meta property="og:image:width" content="1242">
<meta property="og:image:height" content="650">
<meta property="og:description" content="I&rsquo;m a pretty happy designer focusing on digital products and brands. I like dogs, national parks, and making useful things with talented people.">
<meta property="og:title" content="Michael Edelstone | Designer + Neat Person">
<meta property="og:url" content="https://michaeledelstone.com">
