<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="Michael Edelstone | Designer + Neat Person">
<meta property="og:description" content="I’m a pretty happy designer focusing on digital products and brands. I like dogs, national parks, and making useful things with talented people.">
<meta property="og:image" content="https://michaeledelstone.com/images/og-image.jpg">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Michael Edelstone | Designer + Neat Person">
<meta name="twitter:description" content="I’m a pretty happy designer focusing on digital products and brands. I like dogs, national parks, and making useful things with talented people.">
<meta name="twitter:image" content="https://michaeledelstone.com/images/og-image.jpg">
