.hire-me {

  .match-made-in-heaven {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem auto 1rem;
    background: tint($maroon, 95%);
    padding: 3rem 2rem;
    border-radius: 3px;
    box-shadow: 0 1px 3px tint($near-black, 75%);
    @include breakpoint ('small') {
      flex-direction: column;
    }

    .michael {
      max-width: 90px;

      img {
        border-radius: 50%;
        display: flex;
      }
    } 

    .company-logo {

      img {
        display: flex;
        width: 260px;
        border-radius: 3px;
      }
    }
  }

  .reasons-im-a-fit {
    margin-bottom: 5rem;

    h2 {
      color: $purple;
      margin-top: 4rem;
    }

    li {
      margin-bottom: 1.2rem;
    }

    .faux-link {
    	color: $near-black;
    	background: tint($orange, 50%);
    	background: linear-gradient(to bottom, transparent 0, transparent 83%, tint($orange, 50%) 83%, tint($orange, 50%) 100%);
    	text-decoration: none;

      &:hover, &:focus {
    	  color: shade($orange, 10%);
        cursor: pointer;
      }
    }

    .quick-list li {
      margin-bottom: 0.5rem;
    }

    .testimonials {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
    }

    .stats {
      margin-top: 5rem;
      margin-bottom: 5rem;
      padding-top: 4.5rem;

      .productivity-header {
        color: $near-black;
        margin-bottom: 3.5rem;
      }

      ul li {
        margin-bottom: 1.8rem;
      }
    }

    .preload-images {
      visibility: hidden !important;
      display: none !important;
    }
  }
}
