/* variables */

$white: #fcfcfc;
$orange: #d9554c;
$yellow: #f7b239;
$green: #75bd59;
$pink: #cf4d6f;
$blue: #146da9;
$purple: #7f2a4d;
$maroon: #402125;
$dark-brown: #220b17;
$black: #111;

/* devices */

@mixin breakpoint($point, $value: "") {

  @if $point == 'large' {
    @media only screen and (min-width: 80em) { @content; }
  }
  @else if $point == 'medium' {
    @media only screen and (max-width: 50em) { @content; }
  }
  @else if $point == 'small' {
    @media only screen and (max-width: 35.5em) { @content; }
  }
  @else if $point == 'extra-small' {
    @media only screen and (max-width: 20em) { @content; }
  }

}

/* functions */

// Add percentage of white to a color (tints)
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color (shades)
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

/* General */
*, *:before, *:after {box-sizing: border-box;}
::-moz-selection {text-shadow: none; background: tint($orange, 60%);}
::selection {text-shadow: none; background: tint($orange, 60%);}
html {font-size: 62.5%; line-height: 1.4; font-family: 'Neuton', serif; font-weight: normal; height: 100%; background: $dark-brown;}
body {min-height: 100%; display: flex; flex-direction: column; background: $white; color: $black;}
img {max-width: 100%;}
a:focus {transition: none !important;}
h1, h2, h3, h4, button, .signature, .intro, .footer, .button, .button-light, .tags, .caption, .choices, .use-sans, .offscreen, .writing-sub, .tooltipster-content, .results {font-family: 'Montserrat', sans-serif; font-weight: normal;}
.hide-and-dont-read {display: none !important;}
.full-width {width: 100%;}
.clearfix {clear: both;}
.constrain {max-width: 75rem; margin: auto; padding-left: 2.5rem; padding-right: 2.5rem;}
.button-arrow {padding-left: 1rem;}
.button-arrow.button-arrow-reverse {transform: rotate(180deg); display: inline-block;}
.limited-content {margin-bottom: 12rem;}
.signature {font-size: 1.4rem; text-transform: uppercase; text-align: right; letter-spacing: 1px;}
.signature a {background: $dark-brown; color: tint($maroon, 80%); text-decoration: none; display: block; padding: 1.1rem 0 0.9rem; transition: all 0.2s ease-out; box-shadow: 0 -1.9rem $dark-brown inset; border-bottom: 1px solid shade($dark-brown, 20%);}
.signature a:hover, .signature a:focus {background: $purple; color: $white; box-shadow: 0 -1.9rem shade($purple, 10%) inset;}
.signature .my-name {display: block;}
.sig-letter {display: inline-block; position: relative; bottom: 0; transition: background .25s ease-out, transform 0.08s ease-out, bottom 0.08s ease-out; border-radius: 1px;}
.signature a:hover .sig-letter, .signature a:focus .sig-letter {background: shade($purple, 10%);}
.signature a:hover .sig-letter:nth-child(4n+1), .signature a:focus .sig-letter:nth-child(4n+1) {transform: rotate(-10deg);}
.signature a:hover .sig-letter:nth-child(4n+2), .signature a:focus .sig-letter:nth-child(4n+2) {bottom: 0.2rem;}
.signature a:hover .sig-letter:nth-child(4n+3), .signature a:focus .sig-letter:nth-child(4n+3) {transform: rotate(10deg);}
.signature a:hover .sig-letter:nth-child(4n+4), .signature a:focus .sig-letter:nth-child(4n+4) {bottom: -0.2rem;}
.intro-wrapper {background: $maroon; color: $white; box-shadow: 0 0.7rem tint($maroon, 10%);}
.intro-content {padding-top: 2.5rem; padding-bottom: 2.5rem;}
.intro h1, .writing-header {font-size: 6.4rem; line-height: 1.1; font-weight: bold; text-shadow: .4rem .4rem $dark-brown; text-shadow: none; position: relative; left: 0; margin: 0; margin-left: -0.3rem;}
.intro nav {position: relative; z-index: 999; margin-top: 1.2rem; margin-left: -1.2rem;}
.intro nav a {color: tint($maroon, 80%); margin-right: 1rem; font-size: 1.4rem; text-decoration: none; border-radius: 30px; padding: 0.6rem 1.2rem; display: inline-block;}
.intro nav a:hover, .intro nav a:focus {background: tint($maroon, 10%); color: $white;}
.main-area-content {padding-top: 4rem; padding-bottom: 2rem; font-size: 2.2rem;}
.main-area .content-section {margin-bottom: 4rem;}
.main-area .content-section.tall-section {margin-bottom: 5rem;}
.main-area a {color: $black; background: tint($orange, 60%); background: linear-gradient(to bottom, transparent 0, transparent 83%, tint($orange, 60%) 83%, tint($orange, 60%) 100%); text-decoration: none;}
.main-area a:hover, .main-area a:focus {color: shade($orange, 10%);}
.main-area p, .main-area ul, .main-area ol {margin-top: 0; margin-bottom: 1.5rem;}
.main-area ul ul {padding-left: 3rem; margin-bottom: 0; margin-top: 0.5rem;}
.main-area ul li, .main-area ol li {margin-bottom: 0.5rem; padding-left: 0;}
.main-area h2 {font-weight: bold; text-transform: uppercase; font-size: 2rem; letter-spacing: 1px; margin-top: 2rem; margin-bottom: 1.5rem;}
.main-area h3 {margin: 0; font-weight: bold; margin-bottom: 1.5rem; font-size: 2rem; color: $purple;}
.main-area h4 {font-size: 1.8rem; margin-bottom: 1.5rem;}
.main-area hr {margin: -0.8rem 0 0; border: none; background: $pink; height: 5px; max-width: 5rem;}
.main-area .sub-header {margin-top: 0;}
.main-area .stack {margin-bottom: 0 !important;}
.main-area .much-text {padding-top: 1rem;}
.main-area .feature-text {font-size: 2.8rem;}
.main-area .portrait {margin: 3rem 0 0;}
.main-area .portrait img {display: block;}
.main-area .image-group {width: 90%; margin: 5rem auto 6rem;}
.main-area .image-group-fw {width: 100%; margin: 0;}
.main-area .image-border {border: 1px solid tint($maroon, 80%);}
.main-area .caption {font-size: 1.3rem; text-align: center; margin-top: 0.3rem; margin-bottom: 4rem;}
.main-area .caption-alt {margin-bottom: 0; margin-top: 1rem;}
.main-area .has-summary  {padding-top: 0.7rem;}
.main-area .contact-group p {margin-top: -0.5rem;}
.main-area .button {display: inline-block; position: relative; text-decoration: none; padding: 1.1rem 2.1rem 1rem; background: $orange; color: $white; box-shadow: 0 5px shade($orange, 30%); font-size: 1.6rem; border-radius: 3px; text-shadow: 1px 1px 0 shade($orange, 30%); margin: 0 1.5rem 1rem 0;}
.main-area .button:hover, .main-area .button:focus {background: $orange; color: $white; border-color: shade($orange, 10%); box-shadow: 0 5px shade($orange, 30%), 0 8px 10px -5px $maroon;}
.main-area .button:active {box-shadow: 0 5px shade($orange, 30%); background: shade($orange, 10%); background: linear-gradient(to bottom right, shade($orange, 10%), $orange);}
.main-area .button-fat-guy {font-size: 2rem; padding: 2rem 4rem; margin: 1.5rem auto;}
.main-area .button-fw {width: 100%; text-align: center;}
.main-area .button-light {font-size: 1.6rem; display: inline-block; background: linear-gradient(to bottom, transparent 0, transparent 80%, tint($orange, 60%) 80%, tint($orange, 60%) 100%);}
.main-area .much-text h2, .main-area .much-text h3 {margin-top: 3rem;}
.main-area .lil-snug-guy {margin-top: -1rem;}
.main-area .inline-header {margin-right: 0.5rem; font-weight: bold;}
.main-area .important-updates {margin-left: 3rem;}
.main-area .important-updates .fa-li  {font-size: 1.8rem; top: 0.8rem; left: -4rem; color: $purple;}
.main-area .fa-inline {font-size: 1.8rem; margin: -0.7rem; bottom: 0.1rem}
.main-area .more-homes {margin-top: 4rem; text-align: center;}
.main-area .more-homes.contact-group {text-align: left;}
.main-area .more-homes a {display: inline-block; background: none !important;}
.more-homes ul {list-style-type: none; padding: 0 !important;}
.more-homes li {display: inline; margin-right: 0.5rem;}
.more-homes .fa-inner {color: $white;}
.more-homes .fa-outer {transition: all .1s ease-out;}
.more-homes a:hover .fa-outer, .more-homes a:focus .fa-outer {transform: scale(1.1); color: $pink;}
.main-area .job {padding-left: 1.8rem; border-left: 1rem solid tint($maroon, 90%);}
.main-area .hire-me {padding-bottom: 4rem;}
.main-area .hire-me p, .main-area .hire-me img {margin-bottom: 2rem;}
.main-area .larger-text-header {font-size: 2.4rem;}
.hire-me hr {margin: 3.5rem 0 3rem 0;}

/* Accessibility */
a.offscreen {position: absolute; left: -1000px; top: -1000px; width: 1px; height: 1px; text-align: left; overflow: hidden;}
a.offscreen:focus, a.offscreen:active, a.offscreen:hover {position: absolute; left: 0; top: 0; width: 100%; height: auto; overflow: visible; color: $maroon; text-decoration: none; background-color: $yellow; text-align: center; padding: 1.5rem; font-size: 1.8rem; font-weight: bold; z-index: 1;}

/* Footer */
.footer {position: relative; background: $dark-brown; margin-top: auto;}
.footer a {text-decoration: none; color: tint($maroon, 80%); background: shade($orange, 30%); background: linear-gradient(to bottom, transparent 0, transparent 83%, $orange 83%, $orange 100%);}
.footer a:hover, .footer a:focus {color: $white;}
.footer-content {padding-top: 4.5rem; padding-bottom: 3.5rem; text-align: center; font-size: 1.4rem; color: tint($maroon, 80%);}
.footer-divider {font-size: 2rem; display: inline-block; animation: spin 30s linear infinite;}
.footer-divider .fa-globe {color: $blue;}
.footer-divider .fa-circle {color: $green;}
.footer-divider .fa-circle-2 {color: $blue; font-size: 105%;}
.footer .load-time {min-height: 2rem; margin-bottom: 0.2rem;}
.footer .btt {position: absolute; right: 2rem; bottom: 2rem;}
.footer .btt a {background: tint($maroon, 10%); padding: 1.2rem 1.75rem; transition: all .2s ease-out; border-radius: 3px; display: block;}
.footer .btt a:hover, .footer .btt a:focus {color: $white;}

/* Columns */
.multi-layout, .multi-layout-2 {display: flex;}
.multi-layout .col {width: 50%;}
.multi-layout .col-1 {margin-right: 1.5rem;}
.multi-layout .col-2 {margin-left: 1.5rem;}
.multi-layout-2 .col {width: 33.333%;}
.multi-layout-2 .col-1 {margin-right: 1.5rem;}
.multi-layout-2 .col-2 {margin-right: 1.5rem; margin-left: 1.5rem;}
.multi-layout-2 .col-3 {margin-left: 1.5rem;}
.collapse .col {margin: 0 !important;}
.col.orphan {margin: 0 !important; flex-grow: 1;}

/* Banded Sections */
.main-area .stacked-content {padding: 0;}
.home-intro-wrapper {background: $maroon;}
.quick-bio {font-family: Neuton, serif; font-size: 4.6rem; color: tint($maroon, 90%); padding: 3.3rem 0 6rem; text-shadow: none; line-height: 1.25;}
.quick-bio p {margin: 0 auto 2rem;}
.quick-bio a {color: tint($maroon, 90%); text-decoration: none; background: shade($orange, 30%); background: linear-gradient(to bottom, transparent 0, transparent 88%, $orange 88%, $orange 100%); transition: all .2s ease; text-shadow: 2px 2px 0 $maroon, -2px -2px 0 $maroon, 2px -2px 0 $maroon, -2px 2px 0 $maroon, -2px 0 0 $maroon, 2px 0 0 $maroon;}
.quick-bio a:hover, .quick-bio a:focus {color: inherit;}
.main-area .productivity, .main-area .image-overflow {background: tint($maroon, 90%); width: 100vw; position: relative; left: 50%; right: 50%; margin: 0 -50vw; padding: 5.5rem 0 5rem; border-top: 1px solid tint($maroon, 70%); border-bottom: 1px solid tint($maroon, 70%);}
.main-area .productivity .productivity-header {margin: 0 auto 4.5rem; text-align: center;}
.main-area .productivity a {background: tint($maroon, 70%); background: linear-gradient(to bottom, transparent 0, transparent 83%, tint($maroon, 70%) 83%, tint($maroon, 70%) 100%);}
.main-area .productivity a:hover, .main-area .productivity a:focus {color: shade($purple, 10%);}
.main-area .productivity ul li {margin-bottom: 1.5rem;}
.main-area .productivity.home {border: none; padding: 6rem 0; background-image: none;}
.main-area .image-overflow {margin-top: 5rem; padding: 0; background: radial-gradient($orange, $purple); border: none;}
.main-area .image-overflow .image-group {margin: 0 auto; padding-top: 6rem; max-width: 110rem; width: 90%;}
.main-area .image-overflow img {display: block;}
.main-area .improvements {margin-top: 4.5rem; margin-bottom: 4.5rem;}
.main-area .skills {margin-top: 4.5rem; margin-bottom: -6rem; border-bottom: none;}
.main-area .homes {padding: 6.5rem 0 3.5rem; background: $purple; background: radial-gradient($purple, shade($purple, 20%)); color: tint($maroon, 90%); text-shadow: 1px 1px 0 $maroon;}
.main-area .homes h2 {margin-top: 0; background: $purple; display: inline-block; position: relative; padding: 0.3rem 0.8rem; left: -0.8rem;}
.main-area .homes a {cursor: pointer; color: tint($maroon, 90%); background: shade($orange, 30%); background: linear-gradient(to bottom, transparent 0, transparent 83%, $orange 83%, $orange 100%);}
.main-area .thanks {margin-top: 5rem;}
.choices {font-size: 2.2rem; background: tint($maroon, 10%);}
.choices a {position: relative; bottom: 0; text-decoration: none; transition: all .1s ease-out; color: tint($maroon, 80%); padding: 2rem; display: block; text-align: center; background: tint($maroon, 10%); z-index: 0; left: 0; right: 0;}
.choices a:hover, .choices a:focus {color: $white; bottom: 6px; z-index: 9999;}
.choices .button-prev:hover, .choices .button-prev:focus {box-shadow: 0px 6px shade($pink, 30%); background: $pink; text-shadow: 1px 1px 0 shade($pink, 30%);}
.choices .button-next:hover, .choices .button-next:focus {box-shadow: 0 6px shade($orange, 30%); background: $orange; text-shadow: 1px 1px 0 shade($orange, 30%);}
.choices a:active {transition: none; bottom: 0 !important; left: 0 !important; right: 0 !important; box-shadow: none !important;}

/* Writing */
.main-area .writing-title {font-size: 3.2rem; text-transform: none; letter-spacing: 0; font-weight: normal; color: shade($orange, 10%); line-height: 1.25; margin: 3rem 0 0;}
.main-area .writing-sub {font-size: 1.4rem; margin-top: 0.5rem;}
.writing-intro {margin-bottom: 4rem;}
.writing img {margin: 1rem 0 0;}
.writing .caption {margin-bottom: 0;}

/* Icons */
.main-area .icon {text-align: center;}
.main-area .icon img {max-width: 8rem;}
.main-area .icon h3 {color: $black; margin-top: 1.8rem; letter-spacing: 1px; text-transform: uppercase; font-size: 1.6rem; font-weight: normal;}

/* Projects */
.main-area .project-page {padding-top: 0; padding-bottom: 3rem;}
.project {margin: 4rem auto 7rem;}
.project .project-header {font-size: 2.2rem;}
.project .project-brief {margin-bottom: 2.5rem;}
.title-area * {position: relative;}
.bg-overlap {background-color: tint($maroon, 10%);}
.title-area {background-size: cover; background-repeat: no-repeat; background-position: 50%; position: relative; padding-top: 0; margin-top: 0; opacity: 0;}
.title-area.float-up {animation: float-up 0.8s ease-out; opacity: 1;}
.title-area::before {content: ''; position: absolute; width: 100%; height: 100%; background: tint($maroon, 10%); opacity: 0.5;}
.title-area-1 {background-image: url(/images/banner-txst-homepage.png);}
.title-area-2 {background-image: url(/images/banner-txst-template.png);}
.title-area-3 {background-image: url(/images/banner-txst-brand.png);}
.title-area-4 {background-image: url(/images/banner-pcf-website.png);}
.title-area-5 {background-image: url(/images/banner-my-website.png);}
.title-area-content {padding-top: 4rem; padding-bottom: 4rem;}
.title-area .portfolio-header {font-size: 2.6rem; margin: 0; color: tint($maroon, 80%); text-shadow: 2px 2px 0px tint($maroon, 10%); font-weight: bold; text-transform: uppercase; letter-spacing: 1px;}
.title-area .url {text-transform: lowercase;}
.main-area .summary {background: tint($maroon, 95%); padding: 5rem 0 4.25rem; width: 100vw; margin-left: -50vw; left: 50%; position: relative; border-bottom: 1px solid tint($maroon, 90%);}
.main-area .summary h2 {margin-top: 0;}
.main-area .tags {margin-bottom: 2.8rem;}
.main-area .tags ul {padding: 0; list-style-type: none;}
.main-area .tags li {background: tint($maroon, 90%); display: inline-block; font-size: 1.3rem; padding: 0.5rem 0.8rem; margin-right: 0.5rem; margin-bottom: 0.5rem;}
.multi-layout-2.portfolio-multi-layout {margin: 5rem auto -1rem;}
.main-area .project-details {margin-bottom: 4rem; padding-top: 0;}
.main-area .portfolio-options {text-align: center;}

/* Style Guide */
.sg-section {margin: 3rem auto 5rem;}
.sg-component {padding-bottom: 1rem; margin-left: 2rem;}
.sg-component.no-indent {margin-left: 0;}
.sg-component * {margin: 0 !important;}
.sg-rows {margin-bottom: 4rem;}
.sg-color div {height: 8rem;}
.sg-color p {font-size: 1.4rem; padding-top: 0.5rem;}
.sg-color p:nth-child(3) {margin-top: -1.8rem;}
.sg-color .pop-color {border: 1px solid tint($maroon, 90%);}
.main-area .sg-header {border-bottom: 1px solid tint($maroon, 80%); padding-bottom: 0.5rem;}
.main-area .sg-block {margin-bottom: 2rem;}
.sg-section.grid .col {background: tint($maroon, 80%); border: 1px solid tint($black, 65%); height: 8rem;}
.color-modal .featherlight-content {height: 75%; min-width: 90%;}
.color-modal .featherlight-inner {min-height: 100%;}

/* Accordion */
.accordion button {border: none; font-weight: bold; font-size: 2rem; line-height: 1.4; color: $purple; padding: 0; background: transparent; cursor: pointer;}
.accordion__panel {margin-top: 1.2rem; display: block; overflow: hidden; opacity: 1; transition: visibility 0s ease, max-height 1s ease, opacity 0.3s ease; max-height: 100em; visibility: visible; transition-delay: 0s;}
.accordion__panel[aria-hidden=true] {max-height: 0; opacity: 0; visibility: hidden; transition: visibility 1s ease, max-height 0.6s ease -0.3s, opacity 0.3s ease;}
.accordion__header {display: inline-block;}
.accordion__title {display: none;}
.accordion__header:after {margin-left: 1rem;}
.accordion__header[aria-expanded="true"]:after {content: '\2212';}
.accordion__header[aria-expanded="false"]:after {content: '\002B';}
.has-summary .accordion {margin-bottom: -1rem;}

/* Modal */
.main-area .image-modal {cursor: zoom-in;}
.featherlight .featherlight-close-icon {line-height: 28px; width: 28px; color: $black; font-size: 2rem; outline: none; background: rgba(255, 255, 255, 0.8);}
.featherlight, .featherlight .featherlight-content {cursor: zoom-out;}
.featherlight .featherlight-content {border-bottom: none; padding: 0;}
.featherlight .featherlight-inner {border: 1rem solid $white;}
.featherlight .featherlight-inner#color-10 {border: 10px solid tint($maroon, 90%);}

/* Tooltips */
.tooltip-content {display: none;}
.tt-thumb {position: relative; right: 0; font-size: 4.2rem; display: inline-block; margin-right: 1.3rem;}
.tt-content {display: inline-block;}
.tt-handle {margin: 0 0 0.3rem;}
.tt-info {margin: 0;}
.tt-thumb i {color: $white; right: 1.3rem; position: relative; text-align: center; width: 4rem;}
.tooltipster-sidetip .tooltipster-box {border: none; background: transparent; border-radius: 0;}
.tooltipster-sidetip .tooltipster-content {color: $black; padding: 0; font-size: 1.2rem;}
.tooltipster-sidetip .tooltipster-content a {background: $white; color: $black; text-decoration: none; display: block; padding: 1.5rem 2rem 1.5rem 2.8rem;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border, .tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {border-top-color: $white;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border, .tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {border-right-color: transparent;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border, .tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {border-bottom-color: $white;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border, .tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {border-left-color: $white;}
// Brand colors, so I don't bother with variables.
#tooltip-github a {box-shadow: inset 7rem 0 #333;}
#tooltip-pinboard a {box-shadow: inset 7rem 0 #0000e6;}
#tooltip-lastfm a {box-shadow: inset 7rem 0 #d51007;}
#tooltip-twitter a {box-shadow: inset 7rem 0 #1da1f2;}

/* Animations */
@keyframes spin {
	from {transform: rotate(0deg);}
	to   {transform: rotate(360deg);}
}
@keyframes float-up {
	from {transform: translateY(2rem); opacity: 0;}
	to {transform: translateY(0); opacity: 1;}
}

/* Responsive enhancements */
@include breakpoint('large') {
	html {font-size: 68.5%;}
	.constrain {max-width: 80rem;}
	.quick-bio {font-size: 4.8rem;}
	.title-area {padding-top: 8rem; margin-top: -8rem;}
	.title-area::before {opacity: 0;}
}

@include breakpoint('medium') {
	.footer .btt {position: relative; right: 0; bottom: 0; line-height: initial; margin-top: 2rem;}
	.footer .btt a {padding: 1.5rem 1.5rem 1.8rem;}
	.intro {background-image: none;}
	.quick-bio {text-shadow: 1px 1px 0px shade($dark-brown, 20%);}
	.quick-bio a {text-shadow: inherit;}
}

@include breakpoint('small') {
	html {font-size: 58.5%;}
	.multi-layout, .multi-layout-2 {display: block;}
	.multi-layout .col, .multi-layout-2 .col {width: 100%; margin: 0 0 2rem;}
	.signature {font-size: 1.3rem; text-align: left;}
	.intro h1, .writing-header {font-size: 4.8rem; font-size: 11vw;}
	.intro nav {margin-left: -0.8rem;}
	.intro nav a {margin: -0.2rem 0.5rem -0.2rem -0.5rem; font-size: 1.5rem;}
	.quick-bio {padding: 2.5rem 0 4.5rem; font-size: 3.6rem;}
	.title-area-content {padding-top: 3.5rem; padding-bottom: 3.5rem;}
	.project .project-brief {margin-bottom: 3rem;}
	.main-area-content {padding-top: 2.8rem;}
	.main-area ul, .main-area ol {padding-left: 3.5rem;}
	.main-area .portrait {position: relative; width: 100vw; left: 50%; right: 50%; margin-top: -0.4rem; margin-left: -50vw;}
	.main-area .tags {margin-top: -1rem;}
	.main-area .image-group {width: 100%;}
	.main-area .summary {padding: 4rem 0 1.5rem;}
	.main-area .summary h2 {margin-top: 3rem;}
	.main-area .much-text .summary {padding: 1.5rem 0 3.5rem;}
	.main-area .important-updates {margin-left: 0;}
	.main-area .productivity {padding-bottom: 4rem;}
	.main-area .homes {padding: 5rem 0 2rem;}
	.main-area .icon {margin-bottom: 6rem;}
	.main-area.contact-info .contact-group {margin-bottom: 4rem;}
	.choices .button-prev {border-top: none; border-bottom: 1px solid $maroon;}
	.choices .button-next {border-top: 1px solid tint($maroon, 20%);}
	.choices .button-prev:hover, .choices .button-next:hover {bottom: 0; left: 0; right: 0; box-shadow: none;}
	.footer .footer-content {font-size: 1.6rem; padding-bottom: 5rem; line-height: 3rem;}
	.footer .about-site {display: block; margin: 0.2rem auto 3.5rem;}
	.footer .footer-divider {margin-left: 0.8rem;}
	.footer .fa-stack {width: 2.5rem;}
	.footer .btt {line-height: initial;}
}

@include breakpoint('extra-small') {
	html {font-size: 48.5%;}
}
