/* variables */

$white: #fcfcfc;
$orange: #d9554c;
$yellow: #f7b239;
$green: #75bd59;
$pink: #cf4d6f;
$blue: #146da9;
$purple: #7f2a4d;
$maroon: #402125;
$dark-brown: #220b17;
$black: #111;

/* devices */

@mixin breakpoint($point, $value: "") {

  @if $point == 'large' {
    @media only screen and (min-width: 60em) { @content; }
  }
  @else if $point == 'medium' {
    @media only screen and (max-width: 50em) { @content; }
  }
  @else if $point == 'small' {
    @media only screen and (max-width: 35.5em) { @content; }
  }
  @else if $point == 'extra-small' {
    @media only screen and (max-width: 20em) { @content; }
  }

}

/* functions */

// Add percentage of white to a color (tints)
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color (shades)
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}
