<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50014722-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-50014722-1');
    </script>
    <meta charset="utf-8">
    <script>
      var beforeload = (new Date()).getTime();
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }} | Michael Edelstone</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#220b17">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    {% include favicons.html %}
    {% include meta.html %}
    <link rel="stylesheet" href="/css/main.css">
    <script> </script> <!-- Empty script tag fixes Chromimum bug where transitions fire on page load: https://bugs.chromium.org/p/chromium/issues/detail?id=1404365 -->
  </head>

  {% if page.no-live-demo == true %}
    <body class="no-live-demo">
  {% else %}
    <body>
  {% endif %}

  <a href="#content" class="offscreen">Skip to main content <span class="emoji">👇</span></a>

  <header id="top" class="header">

  	<div class="signature">
  		<div class="signature-content">
  			<a href="/"><span class="my-name constrain"><span class="sig-letter">M</span><span class="sig-letter">i</span><span class="sig-letter">c</span><span class="sig-letter">h</span><span class="sig-letter">a</span><span class="sig-letter">e</span><span class="sig-letter">l</span> <span class="sig-letter">E</span><span class="sig-letter">d</span><span class="sig-letter">e</span><span class="sig-letter">l</span><span class="sig-letter">s</span><span class="sig-letter">t</span><span class="sig-letter">o</span><span class="sig-letter">n</span><span class="sig-letter">e</span></span></a>
  		</div>
  	</div>

  	<div class="intro">
  		<div class="intro-wrapper">
  			<div class="intro-content constrain">

  				<h1>{{ page.header }}</h1>
  				<nav>
  					<a href="/about">About</a>
            <a href="/portfolio">Work</a>
  					<a href="/contact">Contact</a>
  				</nav>

        </div>
      </div>
    </div>

  </header>

  {% if page.portfolio %}
  <header class="bg-overlap">
  	<div class="title-area {{ page.title-area }}">
  		<div class="title-area-wrapper">
  			<div class="title-area-content constrain">
  				<h2 class="sub-header portfolio-header">{{ page.portfolio }}</h2>
  			</div>
  		</div>
  	</div>
  </header>
  {% endif %}

  <main id="content" class="main-area">
    {{ content }}
  </main>

  <footer class="footer">
  	<div class="footer-content constrain">
  		<div class="footer-message">
        <div class="load-wrapper">
          <div class="load-time"></div>
          <span class="load-check"><i class="fa-solid fa-check"></i></span>
        </div>
        <div class="about-site">
          <a href="/styleguide">Style guide</a>
		    </div>
      </div>
  		<div class="btt">
  			<a href="#top">Back to top <span class="button-arrow"><i class="fa-solid fa-arrow-up"></i></span></a>
  		</div>
  	</div>
  </footer>

  <script src="/js/font-awesome/solid.js"></script>
  <script src="/js/font-awesome/brands.js"></script>
  <script src="/js/font-awesome/fontawesome.js"></script>
  <script src="/js/jquery-3.6.4.js"></script>
  <script src="/js/featherlight.js"></script>
  <script src="/js/tooltipster.js"></script>
  <script src="/js/accessible-accordion.js"></script>
  <script src="/js/main.js"></script>
  <script>
    function getPageLoadTime(){
    	var afterload = (new Date()).getTime();
    	seconds = ((afterload-beforeload) / 1000).toFixed(2);
    	$(".load-time").text('This page loaded in ' + seconds + ' seconds');
    }
    window.onload = getPageLoadTime;
  </script>

  </body>

</html>